.banner{
    width: 100%;
    img{
        width: 100%;
    }
}
.tab-item{
    margin-top: 20px;
    // display: flex;
    // justify-content: center;
}
.highlighted-text{
    font-size: 14px;
    font-family: SourceHanSansCN-Normal, SourceHanSansCN;
    font-weight: 500;
    height: 14px;
    line-height: 14px;
    color: #666666;
    text-align: center;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -10px;
}
.content{
    padding: 30px;
}