.height {
  height: 1.1rem;
}
.company-item {
  padding: 0.52rem 0 0.7rem 0;
}
.company-item .title {
  font-size: 0.44rem;
  font-family: SourceHanSansCN-Medium, SourceHanSansCN;
  font-weight: 500;
  color: #333333;
  margin: 0 auto;
  display: inline-block;
  position: relative;
}
.company-item .title:after {
  content: '';
  display: inline-block;
  height: 0.08rem;
  width: 110%;
  background: #FED83B;
  border-radius: 0.03rem;
  position: absolute;
  bottom: 0.02rem;
  left: -5%;
  z-index: -1;
}
.company-item .title-show {
  font-size: 0.24rem;
  font-family: SourceHanSansCN-Normal, SourceHanSansCN;
  font-weight: 500;
  color: #666;
  margin: 0;
  display: block;
  text-align: center;
  margin-top: 0.15rem;
}
