.banner {
  width: 100%;
}
.banner img {
  width: 100%;
}
.tab-itemb {
  background: #FBFBFB;
  padding: 80px 0 110px 0;
}
.tab-item {
  position: relative;
}
.highlighted-title {
  z-index: 2;
}
.highlighted-text {
  font-size: 14px;
  font-family: SourceHanSansCN-Normal, SourceHanSansCN;
  font-weight: 500;
  height: 14px;
  line-height: 14px;
  color: #666666;
  text-align: center;
  display: block;
  margin: 0 auto;
  position: relative;
  top: -10px;
}
.content {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.content .left ol {
  padding-top: 46px;
}
.content .left ol li {
  margin-bottom: 38px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.content .left ol li .icon {
  margin-right: 23px;
  width: 26px;
  height: 26px;
}
.content .left ol li .icon .cimg1 {
  width: 26px;
  height: 26px;
}
.content .left ol li .icon .cimg2 {
  display: none;
}
.content .left ol li .nameTitle {
  font-size: 26px;
  font-family: SourceHanSansCN-Medium, SourceHanSansCN;
  font-weight: 500;
  color: #333333;
  margin: 0;
  padding: 0;
}
.content .left ol .on {
  margin-bottom: 42px;
}
.content .left ol .on .icon .cimg1 {
  display: none;
}
.content .left ol .on .icon .cimg2 {
  display: block;
}
.content .left ol .on .nameTitle {
  font-size: 46px;
  font-family: SourceHanSansCN-Medium, SourceHanSansCN;
  font-weight: 500;
  color: #000000;
  position: relative;
}
.content .left ol .on .nameTitle:after {
  content: '';
  display: inline-block;
  width: 171px;
  height: 6px;
  background: #FED83B;
  border-radius: 3px;
  position: absolute;
  bottom: -10px;
  left: 6px;
  z-index: -1;
}
.content .right {
  position: relative;
}
.content .right .dianImg {
  position: absolute;
  bottom: -30px;
  right: -30px;
  z-index: 3;
}
.content .right .swiper {
  width: 752px;
  height: 426px;
  border-radius: 16px;
  overflow: hidden;
}
.content .right .swiper .swiper-container {
  width: 752px;
  height: 426px;
}
.content .right .swiper .swiper-pagination {
  opacity: 0;
}
.content .right .swiper .swiper-slide {
  background-position: center;
  background-size: cover;
}
.content .right .swiper .swiper-slide img {
  width: 752px;
  height: 426px;
}
.tab-item-employment {
  padding: 80px 0 96px 0;
}
.tab-item-employment .contentImg {
  display: flex;
  justify-content: center;
  margin-top: 98px;
  position: relative;
  z-index: 2;
}
.tab-item-employment .contentImg img {
  width: 1153px;
  height: 645px;
}
.tab-item-employment .leftImg {
  position: absolute;
  left: 65px;
  bottom: 63px;
}
.tab-item-employment .rightImg {
  position: absolute;
  right: 0px;
  top: 134px;
}
.tab-item-problem {
  width: 100%;
  height: 600px;
  background: #FBFBFB;
}
.tab-item-problem .problem {
  position: relative;
  top: 68px;
}
.tab-item-problem .problem .swiper {
  width: 1140px;
  height: 464px;
  position: relative;
  margin: 0 auto;
}
.tab-item-problem .problem .swiper .list {
  position: absolute;
  left: 805px;
  bottom: -20px;
  z-index: 1000;
}
.tab-item-problem .problem .swiper .list ol {
  display: flex;
}
.tab-item-problem .problem .swiper .list ol li {
  width: 50px;
  margin-right: 22px;
  cursor: pointer;
}
.tab-item-problem .problem .swiper .list ol li .img {
  width: 50px;
  display: flex;
  justify-content: center;
}
.tab-item-problem .problem .swiper .list ol li .img img {
  width: 36px;
  height: 36px;
}
.tab-item-problem .problem .swiper .list ol li .img .img2 {
  display: none;
}
.tab-item-problem .problem .swiper .list ol li span {
  text-align: center;
  margin-top: 10px;
  display: block;
  font-size: 12px;
  font-family: SourceHanSansCN-Regular, SourceHanSansCN;
  font-weight: 400;
  color: #666666;
}
.tab-item-problem .problem .swiper .list ol .on .img1 {
  display: none;
}
.tab-item-problem .problem .swiper .list ol .on .img2 {
  display: block !important;
}
.tab-item-problem .problem .swiper .list ol .on span {
  color: #333333 !important;
}
.tab-item-problem .problem .swiper .swiper-container {
  width: 1140px;
  height: 464px;
}
.tab-item-problem .problem .swiper .swiper-pagination {
  opacity: 0;
}
.tab-item-problem .problem .swiper .swiper-slide {
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.tab-item-problem .problem .swiper .swiper-slide .imgBanner {
  width: 696px;
  height: 464px;
}
.tab-item-problem .problem .swiper .swiper-slide .imgBanner img {
  width: 696px;
  height: 464px;
}
.tab-item-problem .problem .swiper .swiper-slide .textBanner {
  margin-left: 107px;
}
.tab-item-problem .problem .swiper .swiper-slide .textBanner .banner-title {
  display: inline-block;
  font-size: 34px;
  font-family: SourceHanSansCN-Medium, SourceHanSansCN;
  font-weight: 500;
  color: #333333;
  margin: 0;
  margin-top: 50px;
}
.tab-item-problem .problem .swiper .swiper-slide .textBanner .banner-show {
  margin-top: 20px;
  font-size: 14px;
  font-family: SourceHanSansCN-Regular, SourceHanSansCN;
  font-weight: 400;
  color: #666666;
  line-height: 24px;
}
.swiper-button-prev {
  outline: none;
  background: url(../../public/images/left.png) !important;
  left: -100px;
}
.swiper-button-prev img {
  width: 51px;
  height: 51px;
}
.swiper-button-next {
  outline: none;
  background: url(../../public/images/right.png) !important;
  right: -100px;
}
.swiper-button-next img {
  width: 51px;
  height: 51px;
}
.tab-item-list {
  padding-top: 105px;
}
.tab-item-list .highlighted-title {
  margin: 0;
}
.tab-item-list .contentImg {
  display: flex;
  justify-content: center;
}
.tab-item-list .contentImg .work {
  margin-top: 98px;
  width: 1140px;
  height: 202px;
}
.tab-item-list .contentImg .flexible {
  margin-top: 83px;
  width: 1174px;
  height: 352px;
}
.tab-item-list .contentImg .security {
  margin-top: 98px;
  width: 1037px;
  height: 265px;
  padding-bottom: 77px;
}
.fixedRight {
  width: 76px;
  height: 170px;
  background: #FFFFFF;
  box-shadow: 0px 0px 6px 0px rgba(186, 186, 186, 0.5);
  border-radius: 18px 1px 1px 18px;
  position: fixed;
  right: 0;
  bottom: 300px;
  z-index: 1000;
}
.fixedRight .top {
  border-bottom: 1px solid #E9E9E9;
  border-radius: 18px 1px 1px 0px;
}
.fixedRight .bot {
  border-radius: 0px 1px 1px 18px;
}
.fixedRight .flex-list {
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.fixedRight .flex-list .bodys {
  position: relative;
}
.fixedRight .flex-list .bodys .fixedCode {
  position: absolute;
  left: -154px;
  top: -56px;
  width: 140px;
  height: 166px;
  display: none;
}
.fixedRight .flex-list .bodys .fixedCode img {
  width: 140px;
  height: 166px;
}
.fixedRight .flex-list .bodys .img {
  width: 50px;
  display: flex;
  justify-content: center;
}
.fixedRight .flex-list .bodys .img img {
  width: 30px;
  height: 30px;
}
.fixedRight .flex-list .bodys span {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  font-family: SourceHanSansCN-Normal, SourceHanSansCN;
  font-weight: 400;
  color: #333333;
  width: 50px;
  text-align: center;
}
.fixedRight .flex-list:hover {
  background: #FED83B;
}
.fixedRight .flex-list:hover .fixedCode {
  display: block;
}
